@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 858px;
    margin: auto;
}

.section-title {
    text-align: center;
    margin-bottom: 65px;
}

/* Header */
header {
    max-width: 858px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 270px;
    align-items: center;
}

header h1 {
    max-width: 120px;
}

header ul {
    display: flex;
}

header li {
    margin-right: 30px;
}

header li a {
    color: #383e45;
}

header li:last-child {
    margin-right: 0;
}

header .instagram-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 0;
}

/* Main Visual */
#main-visual img {
    max-width: 100%;
    width: 1920px;
    height: 420px;
    object-fit: cover;
    margin-bottom: 80px;
}

/* About */
#about {
    margin-bottom: 130px;
}

.name {
    margin-bottom: 30px;
}

.personal-info {
    margin-bottom: 30px;
}

/* Works */
#works {
    margin-bottom: 150px;
}

#works .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#works img {
    max-width: 266px;
    max-height: 173px;
}

/* News */
#news {
    margin-bottom: 130px;
}

#news dt {
    margin-right: 78px;
}

#news .news-data {
    display: flex;
    height: 52px;
}

#news .top {
    border-top: 1px solid #C8C8C8;
}

#news .news-data {
    border-bottom: 1px solid #C8C8C8;
    align-items: center;
}

@media screen and (max-width: 600px) {

}