@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

img {
    min-width: 100%;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 858px;
}

/* Header */
header {
    max-width: 858px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 270px;
    align-items: center;
}

header h1 {
    max-width: 120px;
}

header ul {
    display: flex;
}

header li {
    margin-right: 30px;
}

header li a {
    color: #383e45;
}

header li:last-child {
    margin-right: 0;
}

header .instagram-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 0;
}

/* Main Visual */
#main-visual img {
    max-width: 100%;
    width: 1920px;
    height: 420px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {

}