@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333333;
    background-color: #F4F9FF;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

img {
    /* max-width: 100%; */
}

/* li {
    list-style: none;
} */

.container {
    width: 1000px;
    margin: 0 auto;
}

.inner {
    width: 700px;
    margin: 0 auto;
}

.section-title {
    font: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* header */
header {
    margin-top: 60px;
    margin-bottom: 15px;
}

header img {
    width: 160px;
    height: 18px;
}

/* main-visual */
#main-visual img {
    width: 1000px;
    height: 400px;
    margin-bottom: 60px;
}

/* index */
#index {
    background-color: #FFFFFF;
    padding: 35px 0;
    margin-bottom: 65px;
}

.index-list {
    margin-top: 17px;
    margin-left: 20px;
}

#index li {
    margin-bottom: 26px;
}

#index li:last-child {
    margin-bottom: 0;
}

/* detail */
#detail {
    margin-bottom: 118px;
}

.contents {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
}

.content {
    width: 270px;
}

#detail img {
    width: 270px;
    height: 270px;
}

#detail dl {
    display: flex;
    flex-wrap: wrap;
}

#detail dt {
    width: 25%;
}

#detail dd {
    width: 75%;
}

#detail .border {
    border: 1px solid #DEDEDE;
}