@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: #333333;
    background-color: #F4F9FF;
    font-size: 0.875rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Header */
header {
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

header .menu {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 100px;
}

header img {
    width: 100px;
    height: 25.6px;
}

header ul {
    width: 334px;
    height: 21px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .contact-button {
    background: black;
    color: white;
    min-width: 200px;
}